<a href="https://colab.research.google.com/github/azka1404/Tugas-Data-Mining_156_Muhammad-Azka-Hammam/blob/main/Tugas%20Pertemuan%201%20Data%20Mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
print("Jumlah total mahasiswa:", df.shape[0])
print("Jumlah total variabel:", df.shape[1])

Jumlah total mahasiswa: 5000
Jumlah total variabel: 21

data.shape[0] menghitung jumlah baris (observasi).

data.shape[1] menghitung jumlah kolom (variabel).

Output menunjukkan:

Jumlah total mahasiswa: 5000

Jumlah total variabel: 21

Artinya seluruh analisis dilakukan terhadap 5000 mahasiswa. Jumlah ini cukup besar sehingga model machine learning dapat belajar dengan baik dan hasilnya lebih stabil.

In [ ]:
data = pd.read_csv('/content/ultimate_student_productivity_dataset_5000.csv')
data.head()

,student_id,age,gender,academic_level,study_hours,self_study_hours,online_classes_hours,social_media_hours,gaming_hours,sleep_hours,...,exercise_minutes,caffeine_intake_mg,part_time_job,upcoming_deadline,internet_quality,mental_health_score,focus_index,burnout_level,productivity_score,exam_score
0,1,18,Other,High School,7.64,1.56,2.20,3.05,2.19,6.52,...,81,38,1,0,Good,10,43.05,31.77,73.65,50.16
1,2,18,Other,High School,2.21,2.22,2.10,1.65,2.55,5.97,...,111,339,0,0,Good,3,15.92,37.00,13.70,1.00
2,3,22,Male,High School,3.45,0.00,0.29,1.34,2.08,8.39,...,68,266,0,1,Good,8,27.39,34.37,45.15,18.30
3,4,17,Other,High School,5.75,2.08,3.01,2.27,2.20,6.31,...,113,480,1,1,Poor,3,22.31,77.31,20.92,9.37
4,5,19,Other,High School,6.83,1.72,3.33,2.65,0.70,8.01,...,121,24,1,0,Good,8,38.11,39.53,59.23,27.81

Dataset ultimate_student_productivity_dataset_5000.csv terdiri dari 5000 data mahasiswa yang berhasil dimuat ke dalam DataFrame.

Setiap baris merepresentasikan satu mahasiswa, dan setiap kolom merepresentasikan variabel yang mempengaruhi produktivitas mahasiswa, seperti: Jam belajar, Jam tidur, Penggunaan media sosial, Nilai ujian, Skor produktivitas

Dataset ini digunakan untuk menganalisis hubungan antara kebiasaan belajar, gaya hidup, dan tingkat produktivitas mahasiswa.

In [ ]:
data.describe()

,student_id,age,study_hours,self_study_hours,online_classes_hours,social_media_hours,gaming_hours,sleep_hours,screen_time_hours,exercise_minutes,caffeine_intake_mg,part_time_job,upcoming_deadline,mental_health_score,focus_index,burnout_level,productivity_score,exam_score
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2500.500000,20.520400,4.539594,2.478734,2.011984,2.998086,1.564514,7.016492,6.979588,74.535600,251.450400,0.498200,0.501400,5.507400,29.431616,45.615324,37.267716,18.803752
std,1443.520003,2.870406,1.821665,1.177990,0.983906,1.467949,1.110807,1.163692,2.486214,42.932293,143.842712,0.500047,0.500048,2.869145,9.962902,14.246591,16.849397,12.130840
min,1.000000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1250.750000,18.000000,3.250000,1.660000,1.320000,1.990000,0.670000,6.237500,5.280000,37.000000,129.000000,0.000000,0.000000,3.000000,22.567500,35.727500,25.290000,9.337500
50%,2500.500000,20.000000,4.530000,2.480000,2.010000,2.980000,1.490000,7.010000,6.950000,75.000000,252.000000,0.000000,1.000000,5.000000,29.430000,45.690000,36.860000,18.010000
75%,3750.250000,23.000000,5.760000,3.290000,2.690000,4.030000,2.340000,7.810000,8.710000,112.000000,376.000000,1.000000,1.000000,8.000000,36.242500,55.352500,49.142500,27.400000
max,5000.000000,25.000000,11.840000,7.410000,6.000000,8.280000,5.640000,10.000000,15.300000,149.000000,499.000000,1.000000,1.000000,10.000000,63.480000,97.580000,98.020000,64.090000

Output tersebut menunjukkan statistik deskriptif dari variabel numerik.

Analisis:

Mahasiswa rata-rata belajar sekitar 4,5 jam per hari

Mahasiswa menggunakan media sosial sekitar 3 jam per hari

Mahasiswa tidur sekitar 7 jam per hari

Tingkat produktivitas rata-rata berada pada kategori sedang

Terdapat variasi produktivitas yang cukup besar antar mahasiswa

Ini menunjukkan bahwa produktivitas mahasiswa dipengaruhi oleh keseimbangan antara aktivitas akademik dan non-akademik.

In [ ]:
study = data['study_hours']

count_study = study.value_counts()

unique_study = study.drop_duplicates()

print(count_study)

study_hours
0.00    29
4.94    19
5.22    19
5.47    18
3.72    17
        ..
8.45     1
9.61     1
0.85     1
0.88     1
8.88     1
Name: count, Length: 840, dtype: int64

Output menunjukkan distribusi jumlah mahasiswa berdasarkan jam belajar per hari.

Jam belajar 5 jam per hari merupakan yang paling dominan, menunjukkan bahwa mayoritas mahasiswa memiliki intensitas belajar sedang.

Mahasiswa dengan jam belajar sangat tinggi jumlahnya lebih sedikit.

Hal ini menunjukkan bahwa sebagian besar mahasiswa memiliki kebiasaan belajar yang relatif stabil.